.b-about {

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        color: whitesmoke;
        width: 100%;
        min-height: 100vh;
    }   
    
    &__main {
        padding: 60px 0;
    }
    
    &__title {
        margin-left: 20px;

        &:hover {
            cursor: pointer;
        }

        &::before {
            content: "<h2>";
            font-family: "La Belle Aurore";
            font-size: .8rem;
            color: grey;
            opacity: .6;
        }

        &::after {
            content: "</h2>";
            font-family: "La Belle Aurore";
            font-size: .8rem;
            color: grey;
            opacity: .6;
        }
    }

    &__parraf {
        font-size: 1rem;

        &::before {
            content: "<p>";
            font-family: "La Belle Aurore";
            font-size: .8rem;
            color: grey;
            opacity: .6;
        }

        &::after {
            content: "</p>";
            font-family: "La Belle Aurore";
            font-size: .8rem;
            color: grey;
            opacity: .6;
        }

        &--container {
            width: 70%;
            margin-left: 30px;
            animation: fadeIn 2s 1.5s backwards;
        }
    }

    &__education {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__list {
        
        margin-left: 20px;
        animation: fadeIn 2s 1.5s backwards;

        &::before {
            content: "<ul>";
            font-family: "La Belle Aurore";
            font-size: .8rem;
            color: grey;
            opacity: .6;
        }

        &::after {
            content: "</ul>";
            font-family: "La Belle Aurore";
            font-size: .8rem;
            color: grey;
            opacity: .6;
        }

        li {
            list-style: none;
            font-size: 2rem;
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            &::before {
                content: "<li>";
                font-family: "La Belle Aurore";
                font-size: .8rem;
                color: grey;
                opacity: .6;
            }
    
            &::after {
                content: "</li>";
                font-family: "La Belle Aurore";
                font-size: .8rem;
                color: grey;
                opacity: .6;
            }

            &:hover {
                transition:  1s;
                color: #0DFDD7;
                cursor: pointer;
            }
        }

    }

    &__buttons {   
            
        display: flex;
        flex-direction: column;
        margin-left: 20px;

        &::before {
            content: "<div className='b-buttons'>";
            font-family: "La Belle Aurore";
            font-size: .8rem;
            color: grey;
            opacity: .6;
        }

        &::after {
            content: "</div>";
            font-family: "La Belle Aurore";
            font-size: .8rem;
            color: grey;
            opacity: .6;
        }
    }

    &__span {
        color: #0DFDD7;
        font-weight: bold;
        animation: fadeIn 2s 2s backwards;

        &--strong {
            font-family: "La Belle Aurore";
            animation: fadeIn 2s 1.5s backwards;
            font-size: .8rem;
            color: grey;
            opacity: .6;
        }
    }

    &__main {
        font-size: 1.4rem;
        font-family: "Helvetica Neue";
        margin-left: 20px;
    }

    &__link {
        background-color: #1D1D1D;
        color: #0DFDD7;
        font-size: 2rem;
        letter-spacing: 1.4px;
        text-decoration: none;
        border: 1px solid #0DFDD7;
        padding: 15px;
        margin-left: 20px;
        animation: fadeIn 2s 4.3s backwards;

        &:hover {
            background-color: #0DFDD7;
            color: whitesmoke;
            
            transition: .7s ease-in;
        }
    }

    &__education {
        margin-bottom: 50px;
    }
}

.text-animate {
    display: inline-block;
    opacity: 0;
    animation: bounceIn 1s 1s;
    animation-fill-mode: forwards;
    min-width: 10px;
}

.text-animate__hover {
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;

    &:hover {
        animation: rubberBand 1s;
        color: #0DFDD7;
        cursor: pointer;
    }
}

@for $i from 1 through 45 {
    .text-animate._#{$i} {
        animation-delay: #{$i /10}s;
    }
}

.b-about__buttons--btn {
    background-color: #1D1D1D;
    color: #0DFDD7;
    font-size: 1rem;
    letter-spacing: 1.4px;
    text-decoration: none;
    border: 1px solid #0DFDD7;
    padding: 10px;
    width: 40%;
    margin: 10px;
    animation: fadeIn 2s 2.3s backwards;
    cursor: pointer;
} 