.b-education {
    
    &--name {
        font-size: 1rem;
        color: #0DFDD7;
    }

    &--where {
        font-size: .8rem;
    }

    &--date {
        font-size: .7rem;
    }
}

.b-experience-container {
    width: 85%;
}

@media(min-width:768px) {
    .b-education {

        &--name {
            font-size: 1.2rem;
        }
    
        &--where {
            font-size: 1rem;
        }
    
        &--date {
            font-size: .9rem;
        }
    }
}