.b-menu {

    &__container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100px;
        width: 100%;
        background-color: #1D1D1D;
    }

    &__contact {
        text-decoration: none;
        font-size: 1.2rem;
        font-family: "Helvetica Neue";
        cursor: pointer;

        &:visited {
            color: whitesmoke;
        }

        &:hover {
            color: #0DFDD7;
        }
    }

    &__links {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        width: 100%;
        color: whitesmoke;


        &.active {
            width: 100%;
            min-height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: absolute;
            margin: 0 auto;
            top: 15%;
            left: 0;
            right: 0;
            text-align: center;
            z-index: 2;
            background-color: #1D1D1D;
        }
    }

    &__burger {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__rrss {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100px;
        
        & a {
            font-size: 20px;
        }
    }

    &__button {
        position: absolute;
        top: 40px;
        right: 15%;
        font-size: 20px;
    }

    &__hide {
        opacity: 0;
        visibility: hidden;
    }
}

@media(min-width:768px) {
    
    .b-menu__burger {
        display: none;
    }
}

@media(max-width:768px) {

    .b-menu__links {
        display: none;
}
}
