.b-projects {

    &__container {
        display: flex;
        flex-direction: column;
        color: whitesmoke;
        width: 100%;
        min-height: 100vh;
    }   
    
    &__main {
        font-size: 1.4rem;
        font-family: "Helvetica Neue";
        margin-left: 20px;
    }
    
    &__title {
        margin-left: 20px;

        &:hover {
            cursor: pointer;
        }

        &::before {
            content: "<h2>";
            font-family: "La Belle Aurore";
            font-size: .8rem;
            color: grey;
            opacity: .6;
        }

        &::after {
            content: "</h2>";
            font-family: "La Belle Aurore";
            font-size: .8rem;
            color: grey;
            opacity: .6;
        }
    }
}
.text-animate {
    display: inline-block;
    opacity: 0;
    animation: bounceIn 1s 1s;
    animation-fill-mode: forwards;
    min-width: 10px;
}

.text-animate__hover {
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;

    &:hover {
        animation: rubberBand 1s;
        color: #0DFDD7;
        cursor: pointer;
    }
}

@for $i from 1 through 45 {
    .text-animate._#{$i} {
        animation-delay: #{$i /10}s;
    }
}
